<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<h2>Update user</h2>
<div>

    <form th:method="PATCH" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}" th:object="${user}">
        <fieldset>
            <legend>User data</legend>
            <p>
                <label th:for="name">Name</label>
                <input type="text" name="name" th:id="name" th:value="${user.getName()}">
            </p>
            <p>
                <label th:for="surname">Surname</label>
                <input type="text" name="surname" th:id="surname" th:value="${user.getSurname()}"><br/>
            </p>
            <p>
                <label th:for="age">Age</label>
                <input type="number" name="age" th:id="age" th:value="${user.getAge()}"><br/>
            </p>
            <p>
                <label th:for="email">Email</label>
                <input type="text" name="email" th:id="email" th:value="${user.getEmail()}"><br/>
            </p>
            <p>
                <label th:for="password">Password</label>
                <input type="password" name="password" th:id="password"><br/>
            </p>
        <p>
        <label>
            <select size="3" multiple="multiple" name="roles" id="roles">
                <option disabled>Roles:</option>
                <option value="ROLE_ADMIN">ADMIN</option>
                <option selected value="ROLE_USER">USER</option>
            </select>
        </label>
        </p>
        </fieldset>
        <button style="background: lightgray" type="submit">Изменить данные</button>
    </form>

    <br/>
    <form th:action="@{/admin/users}">
        <button style="background: lightgray" type="submit">Назад к списку пользователей</button>
    </form>
</div>
</body>
</html>